<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.memuli.oysterhutadmin.dao.HutRotatePicMapper">

    <!-- 通用查询映射结果 -->
    <!--<resultMap id="BaseResultMap" type="com.memuli.oysterhutadmin.entity.HutNews">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="password" property="password" />
    </resultMap>-->

    <!--查询下一个序列值-->
    <select id="selectSequence" resultType="int">
        select seq_u_rotate_picture.nextval from dual
    </select>
</mapper>