<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ME牡蛎小屋--给我留言</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="simplePagination/css/simplePagination.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="img/face_head.ico">
    <script src="js/jquery.js"></script>
    <script src="js/jsrender.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="simplePagination/js/jquery.simplePagination.js"></script>
    <script src="js/ctrl/loadComponent.js"></script>
    <script src="js/ctrl/messageCtrl.js"></script>
</head>
<body>
<div class="container-fluid">
    <div id="headerComponent"></div>
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">主页</a> <span class="divider">/</span>
                </li>
                <li class="active">
                    给我留言
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid" style="background-color: #f3f3f7;">
        <div class="span12">
            <div id="articleComment" style="width: 862px;margin: 0 auto;">
                <div id="commentItems" class="ui threaded comments" style="margin-bottom:20px;">
                    <div class="text" style="font-size:30px;padding-bottom:10px;border-bottom: 1px solid #dfdfdf;">
                        大家的留言(<span id="comment_count"></span>条)
                    </div>

                    <form class="form-horizontal" style="background: #fff;margin-bottom: 30px;margin-top:30px;" target="my_iframe">
                        <div class="form-group">
                            <label class="control-label" for="comment_nick_name"></span>昵称：</label>
                            <div class="controls">
                                <input type="text" id="comment_nick_name" placeholder="请输入昵称" value=""/>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:10px;">
                            <label class="control-label" for="comment_email">邮箱：</label>
                            <div class="controls">
                                <input type="text" id="comment_email" placeholder="请输入邮箱" value=""/>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:10px;">
                            <label class="control-label" for="comment_content"><span
                                    style="color:red;">*</span>留言内容：</label>
                            <div class="controls">
                                <span class="help-block">最多可输入200个字符</span>
                                <textarea id="comment_content" placeholder="我也来评论一句…" cols="3" rows="5"
                                          maxlength="200"></textarea>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:10px;">
                            <label class="control-label" for="comment_vcode"><span
                                    style="color:red;">*</span>验证码：</label>
                            <div class="controls">
                                <input type="text" id="comment_vcode" placeholder="验证码" class="form-control"
                                       style="width: 60px;"
                                       maxlength="4">
                                <img id="vcodeImg" src="" alt="" style="margin-top: -10px;"/>
                                <a id="changeImgA">看不清，换一张</a>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <span id="erro" style="color: brown;"></span>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:10px;">
                            <div class="controls">
                                <button class="btn btn-info" onclick="submitForm();">发表留言</button>
                            </div>
                        </div>
                    </form>
                    <iframe id="my_iframe" name="my_iframe" style="display:none;"></iframe>
                    <ul id="hotCommitList" style="margin-bottom: 40px;margin-left: 0px;">
                    </ul>
                    <div class="simple-pagination" id="hotCommitListContainer"
                         style="margin-left: 40%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top:30px;"></div>
    <div id="footerComponent"></div>
</div>
</body>

<script type="text/x-jsrender" id="hotCommitListJs">
{{for}}
    <div class="commit-reply" alt="{{:cmtCode}}" style="width: 862px;margin: auto 0;background: #fff;padding-top: 12px;border: 1px solid #d9d9d9;">
        <div class="edit-head"
             style="border-radius: 50px;background: #f3f3f7;display: inline-block;vertical-align: top;margin-right: 20px;">
            <img src="img/blog.png" class="reply-img" style="width: 50px;height: 50px;"/>
        </div>
        <div class="reply-content"
             style="display: inline-block;font-size: 14px;color: #333;width: 785px;line-height: 24px;">
            <div class="reply-name"
                 style="font-size: 16px;display: inline-block;vertical-align: top;">{{:cmtNickName}}
            </div>
            <div class="reply-btn" style="float: right;color: #630;cursor: pointer;"><span name="change_current"></span>第{{:#getIndex()+1}}条</div>
            <div class="reply-time" style="color: #b8b8b8;">{{dateFormat:cmtTime}}</div>
            <div class="reply-text" style="word-wrap: break-word;border-bottom: 1px solid #d9d9d9;">
                {{:content}}
            </div>
            {{if serviceState == 8}}
            <div class="commit-reply" style="width: 840px;padding-top: 12px;">
                <div class="edit-head" style="border-radius: 50px;background: #f3f3f7;display: inline-block;vertical-align: top;margin-right: 20px;">
                    <img src="img/blog.png" class="reply-img" style="width: 50px;height: 50px;"/>
                </div>
                <div class="reply-content" style="display: inline-block;font-size: 14px;color: #333;width: 690px;line-height: 24px;">
                    <div class="reply-name">站长<span class="replyName">  @{{:cmtNickName}}</span></div>
                    <div class="reply-time" style="color: #b8b8b8;">{{dateFormat:serviceTime}}</div>
                    <div class="reply-text" style="word-wrap: break-word;">
                        {{:serviceContent}}
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    <div style="width: 862px;margin: auto 0;margin-top:5px;background-color: #f3f3f7;"></div>
{{/for}}
</script>
<script type="text/x-jsrender" id="commitListJs">
{{for}}
<div class="commit-reply" alt="{{:cmtCode}}">
<div class="edit-head"><img class=reply-img src="{{:imgUrl}}"></div>
<div class="reply-content clearfix">
<div class="reply-name">{{:nickName}}</div>
<div class="reply-time">{{:cmtTime}}</div>
<div class="reply-text">{{:cmtContent}}</div>
{{if replyContent}}
<div class="cus-reply reply-content">
<div class="reply-name">客服回复</div>
<div class="reply-time">{{:replyTime}}</div>
<div class="reply-text"><span class="replyName">@{{:nickName}}</span>{{:replyContent}}</div>
</div>
{{/if}}
</div>
</div>
{{/for}}
</script>
<script type="text/x-jsrender" id="replyListJs">
{{for}}
<div class="commit-reply" style="width: 840px;">
<div class="edit-head"><img src="{{:imgUrl}}"></div>
<div class="reply-content clearfix">
<div class="reply-name">{{:nickName}}</div>
<div class="reply-btn" onclick="replyReply(this);" alt="{{:cmtCode}}">回复</div>
<div class="reply-time">{{:cmtTime}}</div>
<div class="reply-text"><span class="replyName">@{{:replyNickName}}</span>{{:cmtContent}}</div>
</div>
</div>
{{/for}}
</script>
</html>