<meta charset="utf-8">
<div class="row-fluid">
    <div class="span12">
        <div style="height: 100px;background-color:#00c1ff;">
            <div style="text-align: center;font-size: 25px;color: #ffffff;font-weight: bold;margin-left: -90px;">www.memuli.com</div>
            <div style="width:300px;margin:0 auto; padding:20px 0;">
                <img src="/img/batb.png" style="margin-top: -15px;"/><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33022602000238" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备 33022602000238号</p></a>
                <a target="_blank" href="http://www.miitbeian.gov.cn"  style="display:inline-block;color: rgb(153, 153, 153); cursor: pointer;">浙ICP备18010930号-1</a>
            </div>
        </div>
    </div>
</div>