<meta charset="utf-8">
<div class="row-fluid">
    <div class="span12">
        <div style="height: 100px;background-color:#00c1ff;">
            <div style="padding-top: 40px;text-align: center;font-size: 50px;color: #ffffff;font-weight: bold;">
                ME牡蛎小屋
            </div>
        </div>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="nav-collapse collapse navbar-responsive-collapse">
                        <ul class="nav">
                            <li>
                                <a href="/index.html">主页</a>
                            </li>
                            <li>
                                <a href="/muli.html">牡蛎介绍</a>
                            </li>
                            <li>
                                <a href="/hut.html">小屋介绍</a>
                            </li>
                            <li>
                                <a href="/message.html">给我留言</a>
                            </li>
                            <li>
                                <a href="/about.html">关于本站</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>