<meta charset="UTF-8">
<span style="margin-left: 50px;font-weight: bold;">后台管理系统菜单</span>
<ul class="nav nav-list">
    <li class="nav-header">
        首页与修改密码
    </li>
    <li>
        <a href="/index.html">首页</a>
    </li>
    <li>
        <a href="/modifyPwd.html">修改密码</a>
    </li>
    <li class="divider">
    </li>
    <li class="nav-header">
        运营管理
    </li>
    <li>
        <a href="/newsMag.html">新闻管理</a>
    </li>
    <li>
        <a href="/rotatePicMag.html">轮换图管理</a>
    </li>
    <li class="divider">
    </li>
    <li class="nav-header">
        系统管理
    </li>
    <li>
        <a href="/userMag.html">操作员管理</a>
    </li>
    <li>
        <a href="#">管理2-2</a>
    </li>
    <li>
        <a href="#">管理2-3</a>
    </li>
    <li class="divider">
    </li>
    <li class="nav-header">
        管理3
    </li>
    <li>
        <a href="#">管理3-1</a>
    </li>
    <li>
        <a href="#">管理3-2</a>
    </li>
    <li>
        <a href="#">管理3-3</a>
    </li>
</ul>
